body {
  background-color: #0B486B;
}

.animal {
  background-color: #CFF09E;
  float: left;
  width: 23%;
  margin: 5px;
  border: 5px solid #79BD9A;
}

.elephant {

}

.narwhal {

}

.pleisiosaur {

}

.platypus {

}

img {
  width: 100%;
}

h1 {
  text-align: center;
}

.animal h2 {
  text-align: center;
}

.animal p {
  text-align: center;
}
